%footer.footer
  .container
    .row
      .col-xs-12
        .row
          %aside.widget.widget_ci_social_widget.ci-socials.group{:style=>"margin: 0 auto 20px auto;"}
            %ul.list-social-icons.text-center
              %li
                %a.social-icon{:href => "/feed.rss", :target=>"_blank"}
                  %i.fa.fa-rss
              %li
                %a.social-icon{:href => "https://twitter.com/goremotedigital", :target=>"_blank"}
                  %i.fa.fa-twitter
        -# .footer-copy
        -#   .row
        -#     .col-sm-6.col-xs-12
        -#       %p
        -#         %a{:href => "/contact"} Contact Us
        -#         for general inquiries or
        -#         %a{:href => "/submit"} Submit Your Job
        -#     .col-sm-6.col-xs-12.text-right
        -#       %p
        -#         Developed by
        -#         %a{:href => "http://aaronbartholomew.com/", :target => "_blank"} Aaron Bartholomew
