%header.header
  .container
    .row
      .col-xs-12
        .mast-head
          %h1.site-logo
            %a{:href => "/"}
              %img{:alt => "", :src => asset_path("logo")}/
          %nav.nav
            %ul.navigation-main
              %li.menu-item-btn
                %a.job-alert-popup.apply-modal{:href => "#emailReg"} Sign Up For Weekly Job Alerts
            -#   %li.menu-item-home.current-menu-item
            -#     %a{:href => "index.html"} Home
            -#   %li
            -#     %a{:href => "landing.html"} Landing Page
            -#   %li.menu-item-has-children
            -#     %a{:href => "blog.html"} Listings
            -#     %ul.sub-menu
            -#       %li
            -#         %a{:href => "index.html"} Job Listing
            -#       %li
            -#         %a{:href => "index-fullwidth.html"} Job Listing Full
            -#       %li
            -#         %a{:href => "index-left-sidebar.html"} Job Listing Left
            -#       %li
            -#         %a{:href => "blog.html"} Blog
            -#   %li.menu-item-has-children
            -#     %a{:href => "index.html#"} Templates
            -#     %ul.sub-menu
            -#       %li
            -#         %a{:href => "single.html"} Single Article
            -#       %li
            -#         %a{:href => "single-job.html"} Single Job
            -#       %li
            -#         %a{:href => "page.html"} Page Default
            -#       %li
            -#         %a{:href => "page-centered.html"} Page Centered
            -#       %li
            -#         %a{:href => "page-fullwidth.html"} Page Fullwidth
            -#       %li
            -#         %a{:href => "submit.html"} Submit Listing
            -#       %li
            -#         %a{:href => "dashboard.html"} Dashboard
            -#       %li
            -#         %a{:href => "auth.html"} Login / Register
              %li.menu-item-btn
                %a{:href => "auth.html"} Sign Up
            / #navigation
            %a.mobile-nav-trigger{:href => "#mobilemenu"}
              %i.fa.fa-navicon
              Menu
          / #nav
