%header.header
  .container
    .row
      .col-xs-12
        .mast-head
          %h1.site-logo
            %a{:href => "/"}
              %img{:alt => "", :src => asset_path("logo.png")}/
          %nav.nav
            %ul.navigation-main
              %li.menu-item-btn
                %a.job-alert-popup.apply-modal{:href => "#emailReg"} Sign Up For Weekly Job Alerts

              %li.menu-item-btn
                %a{:href => "auth.html"} Sign Up
            / #navigation
            %a.mobile-nav-trigger{:href => "#mobilemenu"}
              %i.fa.fa-navicon
              Menu
          / #nav
