.page-hero.page-hero-md{:style => "background-image: url(#{asset_path('hero-bg.jpg')});"}
  .container
    .row
      .col-xs-12
        .page-hero-content
          %h2.page-title
            %span.text-theme Do the work you love.
            On your terms.
          %p.page-subtitle
            We deliver
            %span.text-theme remote
            jobs to fit your lifestyle.
