.page-hero.page-hero-md{:style => "background-image: url(#{asset_path('hero-bg.jpg')});"}
  .container
    .row
      .col-xs-12
        .page-hero-content
          %h1.page-title
            Remote, work from home
            %span.text-theme digital marketing jobs.
          %p.page-subtitle
            We aggrogate the best
            %span.text-theme remote
            digital marketing and social media jobs to fit your lifestyle.
