.page-hero.page-hero-md{:style => "background-image: url(#{asset_path('hero-bg.jpg')});"}
  .container
    .row
      .col-xs-12
        .page-hero-content
          %h1.page-title
            = field "Homepage Header Title"
          %p.page-subtitle
            = field "Homepage Header Content"
