/ form itself
#emailReg.zoom-anim-dialog.mfp-hide
  %form#register-email{:method=>"post", :action=>"/submit/lead"}
    %h2 Weekly Job Alerts
    %fieldset{:style => "border:0;"}
      %p
        Join our weekly mailing list, and get a fresh weekly batch of jobs sent to your email every week.
      %br
      .text-ceter
        %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
        %input#email{:name => "lead[email]", :placeholder => "Enter your Email Address", :required => "", :type => "email"}/
        %br
        %br
        %input{:type=>"submit", :value=>"Join Mailing List"}


- if @listing
  #apply.zoom-anim-dialog.mfp-hide
    %h2 How to Apply
    - apply_html = Nokogiri::HTML(markdown @listing.how_to_apply)
    - apply_html.css("a").each do |link|
      - link.content = "Visit This Link to Apply Now"
      - link.attributes["href"].value = "http://remotedigitaljobs.com/redirect?url=#{CGI.escape link.attributes["href"].value}"

    = apply_html.to_html.html_safe
