.page-hero{:style => "background-image: url(#{asset_path('hero-bg.jpg')}); max-height:200px;"}
  .container
    .row
      .col-xs-12
%main.main.main-elevated
  .container
    .row
      .col-xl-12
        .content-wrap{:style=>"min-height: 70vh; padding-top:25vh;"}
          %article.entry.text-center
            = field "Redirect Banner"
            %h2
              %i.fa.fa-rocket
              Sit tight! You will be redirected in <span class="countdown">10</span> seconds.
            %p To give you the best application experience possible, we're verifying the link you just clicked. Once verified, you will be automatically redirected to your destination. Good luck, and happy hunting!

            %i.fa.fa-cog.fa-spin.fa-3x.fa-fw
            = field "Redirect Banner 2"
